

<!-- General template -->
  <div class="home-block {{category.class}} home-block-{{category.slug}}" ng-class="{'home-block-loading': !(posts.length > 0)}">
    <div class="home-block-header">
      <img src="/assets/cid/category-decoration.png" class="pull-right">
      <h2 class="category-color">{{category.label}}</h2>
    </div>
    
    <div>
      <div class="home-block-contents" >
        <div ng-show="!(posts.length > 0)" us-spinner="{radius:10, width:3, length: 8}" style="position:relative;width:100%;margin:20px 0 80px 0"></div>
        <flex-slider flex-slide="post in posts track by $index" animation="slide" itemWidth="210" itemMargin="5">
            <li>
                <img ng-src="{{post.featured_image_url}}">
                <p class="flex-caption">
                  <span class="title"><a href="#/post/{{post.slug}}">{{post.title}}</a></span>
                  <br/>
                  <span class="category-color"><i>By</i></span> 
                  <span class="home-post-author">{{post.author}}</span>
                  <span class="home-post-published">{{post.published_at | date : format : timezone}}</span>
                </p>
            </li>
        </flex-slider>
        
      </div>
    </div>
 </div>