<a id="top"></a>
<article itemscope="" itemtype="http://schema.org/NewsArticle">
  <header>
    <h1 itemprop="headline" class="post-title" ng-bind-html="vm.post.title"></h1>
    <h2 class="post-summary" ng-bind-html="vm.post.summary"></h2>
    <img class="post-avatar img-circle pull-left" width="50px" ng-src="{{vm.author.avatar}}" />
    <p class="post-source">
      <span class="post-by category-color">By</span>
      <span itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="post-author">
        <a itemprop="url" rel="author" href >
          <span itemprop="name">{{vm.author.fullname}}</span>
        </a>
      </span>
    </p>
    <p class="post-published">
      <time datetime="{{vm.post.published_at | date:'yyyy-MM-dd HH:mm:ssZ'}}" itemprop="datePublished">{{vm.post.published_at | date : format : timezone}}</time>
    </p>
    <figure class="image" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
      <img class="img-responsive img-thumbnail" ng-src="{{vm.post.featured_image_url}}" />
      <figcaption itemprop="description" class="post-caption">
        {{vm.post.fimage_caption}}
        <span itemprop="copyrightHolder">{{vm.post.copyright_holder}}</span>
      </figcaption>
    </figure>
  </header>
  <div class="line" data-sticky-wrap style="position: relative;">
    <aside id="aside-left" class="like-aside-left" bh-sticky="55" width="40px" style="position:relative; top:0px">
      <ul class="post-social">
        <li class="social-li">
          <a href socialshare
    socialshare-provider="facebook"
    socialshare-text="{{vm.post.title}}"
    socialshare-type="feed"
    socialshare-via="106412992723885"
    socialshare-description="{{vm.post.summary}}"
    socialshare-media="{{vm.post.featured_image_url}}"
    socialshare-url="{{vm.post.url}}"><i class="fa fa-facebook social-facebook" data-social="facebook"></i></a>
          <!-- <p class="legend-social" data-social="facebook">134 shares</p> -->
        </li>
        <li class="social-li">
          <a href socialshare
    socialshare-provider="twitter"
    socialshare-text="{{vm.post.title}}"
    socialshare-hashtags="chinaindiadialogue"
    socialshare-url="{{vm.post.url}}"><i class="fa fa-twitter social-twitter" data-social="twitter"></i></a>
          <!-- <p class="legend-social" data-social="twitter">28 shares</p> -->
        </li>
        <li class="social-li hidden-xs">
          <a href><i class="fa fa-weixin social-weixin" data-social="weixin"></i></a>
          <p class="legend-social" data-social="weixin">Scan with wechat<br/><qr text="vm.absUrl" size="115"></qr></p>
        </li>
        <li class="social-li">
                <a href socialshare
          socialshare-provider="linkedin"
          socialshare-text="{{vm.post.title}}"
          socialshare-description="{{vm.post.summary}}"
          socialshare-source="China India Dialogue"
          socialshare-url="{{vm.post.url}}"><i class="fa fa-linkedin social-linkedin" data-social="linkedin"></i></a>
          <!-- <p class="legend-social" data-social="linkedin">5 shares</p> -->
        </li>
        <li class="social-li">
          <a href bh-change-font-size="p.post-body" increment="0.5" ><i class="fa fa-plus" data-size="1"></i></a>
          <p class="legend-social">Increase font size</p>
        </li>
        <li class="social-li">
          <a href bh-change-font-size="p.post-body" increment="-0.5"><i class="fa fa-minus" data-size="1"></i></a>
          <p class="legend-social">Decrease font size</p>
        </li>
        <li class="social-li hidden-xs">
          <a href="javascript:window.print();"><i class="fa fa-print" data-size="1"></i></a>
          <p class="legend-social">Print</p>
        </li>
        <li class="social-li">
          <a href ng-click="vm.showSendEmail()"><i class="fa fa-envelope-o" data-size="1"></i></a>
          <p class="legend-social">Send to a friend</p>
        </li>
        <li class="social-li" ng-controller="ScrollController">
          <a ng-click="gotoTop()"><i class="fa fa-arrow-circle-up" data-size="1"></i></a>
          <p class="legend-social">Scroll to top</p>
        </li>
        <li class="social-li highlighted" ng-show="vm.post.highlightable">
          <a ng-click="vm.toggleHighlight()"><i ng-show="vm.post.highlighted" class="fa fa-toggle-off"></i><i ng-show="!vm.post.highlighted" class="fa fa-toggle-on"></i></a>
          <p class="legend-social"><span ng-show="vm.post.highlighted">Turn off keywords highlight</span><span ng-show="!vm.post.highlighted">Highlight keywords</span></p>
        </li>
      </ul>
    </aside>
    <p itemprop="articleBody" class="post-body" ng-bind-html="vm.post.body" ></p>
  </div>
</article>

<div ng-show="vm.showSendEmailForm" class="send-email-background" ng-click="vm.hideSendEmail()"></div>
<div ng-show="vm.showSendEmailForm" class="send-email-container">
  <div ng-controller="SharePostFormCtrl as f">
    <form ng-show="!f.submitted" ng-submit="f.submit()">
      <input id="postId" type="hidden" ng-model="f.postId" value="{{vm.post.id}}">
      <div class="form-group">
        <label ng-click="f.submit()">To:</label>
        <input id="to" type="text" ng-model="f.to" class="form-control default" placeholder= "Your friend's email">
      </div>
      <div class="form-group">
        <label>From:</label>
        <input id="from" type="text" ng-model="f.from" class="form-control default" placeholder= "Your email">
      </div>
      <div class="form-group">
        <label>Message:</label>
        <textarea id="message" type="text" ng-model="f.message" max-length="500" class="form-control default"></textarea>
      </div>
      <button class="submit_btn btn btn-default pull-right" type="submit">Send</button>
    </form >
    <div ng-show="f.submitted" ng-bind-html="f.message_submitted"></div>
  </div>
</div>


