- carousel = CamaleonCms::NavMenu.find_by_slug('carousel_posts')
- unless carousel.nil?
  #carousel-home.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      - (0..carousel.children.count-1).each do |index|
        %li{"data-slide-to" => index.to_s, "data-target" => "#carousel-home", class: index.eql?(0) ? 'active' : ''}
    .carousel-inner{:role => "listbox"}
      - carousel.children.each_with_index do |slide, index|
        - post = CamaleonCms::Post.find(slide.url).decorate
        .carousel-item{class: index.eql?(0) ? 'active' : '', style: "background-image: url('#{post.the_thumb_url}');"}
          .container.container-carousel
            .carousel-item-caption
              .h2= link_to post.categories.first.decorate.the_title, post.categories.first.decorate.the_url, class:'text-danger text-shadow strong'
              .h2= link_to post.the_title, post.the_path, class: 'text-white text-shadow strong'
      
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carousel-home", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carousel-home", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
