<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table style="width: 100%">
    <tr>
        <td style="text-align: center; background-color: #000; padding: 10px;"><a class="navbar-brand" href='<%= @url_base %>'><%= image_tag @current_site.decorate.try(:the_logo) %></a></td>
    </tr>
    <tr>
        <td>
            <%= yield %>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #000;"><a href="<%= @url_base %>" style="color: #ffffff;">Visit China India Dialogue</a></td>
    </tr>
</table>
</body>
</html>
