<div class="container-fluid">
  <div class="row cid-footer cid-footer1">
    <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul class="nav">
              <li ng-repeat="category in categories | toArray |  filter:{footer1: true}:true  ">
                <a href="#/category/{{category.slug}}">{{category.label}}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="nav">
              <li ng-repeat="category in categories | toArray |  filter:{footer2: true}:true  ">
                <a href="#/category/{{category.slug}}">{{category.label}}</a>
              </li>
              <li><a href="#">This month features</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Archives</a></li>
              <li><a href="#">Apps</a></li>
            </ul>
          </div>
          
          <div class="col-md-5">
            <div class="footer-block">
              <img src="/assets/cid/footer-decoration.png">
              <p>Contact form:</p>
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <input type="text" class="form-control input-sm" id="email" placeholder="Your email address">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-pushpin"></span></div>
                    <input type="text" class="form-control input-sm" id="object" placeholder="Object">
                  </div>
                </div>
              
              </form>
            </div>
            
          </div>
          
          <div class="col-md-3">
            <div class="footer-block">
              <img src="/assets/cid/footer-decoration.png">
              <p><b>Address:</b><br/>33 Chegongzhuang Xilu,<br/>Beijing, 100048, P.R. China</p>
              <p><b>Telephone:</b><br/>+8610 8841 7455</p>
              <p><b>Email:</b> contact@chinapictorial.com.cn</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row cid-footer cid-footer2">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy;2015 China India Dialogue</p>
          </div>
        </div>
    </div>
  </div>
</div>