<div class='row row-eq-height'>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="flexslider" slug="spotlight" bh-posts="{{::getP('spotlight')}}" bh-category="{{::getC('spotlight')}}">
    </bh-home-category>
  </div>
  <div class='col-md-4' style="padding-top:4px">
    <center><cam-theme-field slug="last_issue" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
 </div>

<div class='row'><div class='col-md-12 section-separator'></div></div>
 
<div class='row row-eq-height'>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="business" slug="business" bh-posts="{{::getP('business')}}"bh-category="{{::getC('business')}}">
    </bh-home-category>
  </div>
  <div class='col-md-4 row-eq-height'>
    <bh-home-category template="std" slug="policy" bh-posts="{{::getP('policy')}}" bh-category="{{::getC('policy')}}">
    </bh-home-category>
  </div>
</div>


<div class='row'><div class='col-md-12 section-separator'></div></div>

<div class='row'>
  <div class='col-md-4' ng-repeat="slug in ['industry', 'internet', 'society']">
    <bh-home-category template="std" slug="{{slug}}" bh-posts="{{::getP(slug)}}" bh-category="{{::getC(slug)}}"></bh-home-category>
  </div>
</div>

<div class='row hidden-sm'><div class='col-md-12 section-separator hidden-sm'></div></div>

<div class='row hidden-sm' style="overflow: hidden">
  <div class='col-md-4'>
    <center><cam-theme-field slug="ad_left" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
  <div class='col-md-8'>
    <center class='cid-ad-grey'><cam-theme-field slug="ad_right" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
</div>

<div class='row'><div class='col-md-12 section-separator'></div></div>

<div class='row'>
  <div class='col-md-12'>
    <bh-home-category template="column" bh-posts="{{::getP('column')}}" bh-category="{{::getC('column')}}">
    </bh-home-category>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-4 row-eq-height'>
    <bh-home-category template="solo" bh-posts="{{::getP('one-road-one-belt')}}" bh-category="{{::getC('one-road-one-belt')}}"></bh-home-category>
  </div>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="solo" bh-posts="{{::getP('environment')}}" bh-category="{{::getC('environment')}}"></bh-home-category>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-3 row-eq-height'>
    <bh-home-category template="std" bh-posts="{{::getP('culture')}}" bh-category="{{::getC('culture')}}"></bh-home-category>
  </div>
  <div class='col-md-9 row-eq-height'>
    <bh-home-category template="carousel" bh-posts="{{::getP('travel-image')}}" bh-category="{{::getC('travel-image')}}"></bh-home-category>
  </div>

</div>

<hr>

<div class='row'>
  <div class="col-md-2"><h2>Partners:</h2></div>
  <div class="col-md-10">
   <cam-theme-field slug="partners" theme="china_india_dialogue" type="html"></cam-theme-field>
  </div>
</div> 



<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="Subscription Form"  ng-controller="SubscriptionFormCtrl as f">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="subscriptionFrom">Subscribe to China-India Dialogue!</h4>
      </div>
      
      <div class="modal-body" ng-show="f.submitted">
        <div ng-show="f.sending" us-spinner="{radius:10, width:3, length: 8}" style="position:relative;width:100%;margin:40px 0 80px 0"></div>
        <p><div ng-show="f.submitted" ng-bind-html="f.message_submitted"></div></p>
      </div>
      
      <form  name="subscriptionForm" ng-submit="f.submit()" ng-show="!f.submitted">
        
        <div class="modal-body">
    
          <div class="form-group" ng-class="{'has-error': subscriptionForm.subscriberName.$error.required}">
            <label for="subscriberName" class="control-label">Name:</label>
            <input ng-model="f.subscriberName" name="subscriberName" type="text" class="form-control" id="subscriberName" required>
            <span class="help-block error" ng-show="subscriptionForm.subscriberName.$error.required">Required!</span>
          </div>
          
          <div class="form-group" ng-class="{'has-error': subscriptionForm.subscriberEmail.$error.required || subscriptionForm.subscriberEmail.$error.email }">
            <label for="subscriberEmail" class="control-label">Email:</label>
            <input ng-model="f.subscriberEmail" name="subscriberEmail" type="email" class="form-control" id="subscriberEmail" required>
            <span class="help-block error" ng-show="subscriptionForm.subscriberEmail.$error.required">Required!</span>
            <span class="help-block error" ng-show="subscriptionForm.subscriberEmail.$error.email">Not valid email!</span>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
