<div class='row row-eq-height'>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="flexslider" slug="spotlight" bh-posts="{{::getP('spotlight')}}" bh-category="{{::getC('spotlight')}}">
    </bh-home-category>
  </div>
  <div class='col-md-4 push-bottom' style="padding-bottom:4px">
    <center><cam-theme-field slug="last_issue" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
 </div>

<div class='row'><div class='col-md-12 section-separator'></div></div>
 
<div class='row row-eq-height'>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="business" slug="business" bh-posts="{{::getP('business')}}"bh-category="{{::getC('business')}}">
    </bh-home-category>
  </div>
  <div class='col-md-4 row-eq-height'>
    <bh-home-category template="std" slug="policy" bh-posts="{{::getP('policy')}}" bh-category="{{::getC('policy')}}">
    </bh-home-category>
  </div>
</div>


<div class='row'><div class='col-md-12 section-separator'></div></div>

<div class='row'>
  <div class='col-md-4' ng-repeat="slug in ['industry', 'internet', 'society']">
    <bh-home-category template="std" slug="{{slug}}" bh-posts="{{::getP(slug)}}" bh-category="{{::getC(slug)}}"></bh-home-category>
  </div>
</div>

<div class='row hidden-sm'><div class='col-md-12 section-separator hidden-sm'></div></div>

<div class='row hidden-sm'>
  <div class='col-md-4'>
    <center><cam-theme-field slug="ad_left" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
  <div class='col-md-8'>
    <center class='cid-ad-grey'><cam-theme-field slug="ad_right" theme="china_india_dialogue" type="html"></cam-theme-field></center>
  </div>
</div>

<div class='row'><div class='col-md-12 section-separator'></div></div>

<div class='row'>
  <div class='col-md-12'>
    <bh-home-category template="column" bh-posts="{{::getP('column')}}" bh-category="{{::getC('column')}}">
    </bh-home-category>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-4 row-eq-height'>
    <bh-home-category template="solo" bh-posts="{{::getP('one-road-one-belt')}}" bh-category="{{::getC('one-road-one-belt')}}"></bh-home-category>
  </div>
  <div class='col-md-8 row-eq-height'>
    <bh-home-category template="solo" bh-posts="{{::getP('environment')}}" bh-category="{{::getC('environment')}}"></bh-home-category>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 section-separator'></div>
</div>

<div class='row row-eq-height'>
  <div class='col-md-3 row-eq-height'>
    <bh-home-category template="std" bh-posts="{{::getP('culture')}}" bh-category="{{::getC('culture')}}"></bh-home-category>
  </div>
  <div class='col-md-9 row-eq-height'>
    <bh-home-category template="carousel" bh-posts="{{::getP('travel-image')}}" bh-category="{{::getC('travel-image')}}"></bh-home-category>
  </div>

</div>

<hr>

<div class='row'>
  <div class="col-md-2"><h2>Partners:</h2></div>
  <div class="col-md-10">
   <cam-theme-field slug="partners" theme="china_india_dialogue" type="html"></cam-theme-field>
  </div>
</div> 
