<div class='row row-eq-height'>
  <div class='col-md-9 row-eq-height'>
    <div class="posts-container">
      <form id="search_form">
        <div class="form-group">
          <input class="form-control" ng-change="search()" ng-model-options='{ debounce: 500 }' ng-model="keywords" name="anim" class="my-input" aria-describedby="Enter Keywords" placeholder="Enter your search keywords" />
        </div>
        sort by:
        <input style="display:none" type="radio" id="sort_asc" ng-change="search()" ng-model="sort_order" value="asc" /><label class="sort" ng-class="{active: sort_order=='asc'}" for="sort_asc">Oldest</label> |
        <input style="display:none" type="radio" id="sort_desc" ng-change="search()" ng-model="sort_order" value="desc" /><label class="sort" ng-class="{active: sort_order=='desc'}" for="sort_desc">Newest</label>
      </form>
      </p>
      <h3 class="results">{{pagination.total}} results, between {{pagination.min_date | date : format : timezone}} and {{pagination.max_date | date : format : timezone}}</h3>
      <ul class="posts-group" infinite-scroll="scrollToNextPage()" infinite-scroll-disabled="scrollIsDisabled()">
        <li class="posts-item" ng-repeat="post in posts">
          <bh-post template="'img'" slug="post.slug" highlight="keywords"></bh-post>
        </li>
      </ul>
      <p ng-show="loading" spinner-on="loading" us-spinner="{radius:20, width:8, length: 16}" style="position:relative;height:200px;"></p>
      <p ng-show="isComplete">No more results</p>
    </div>
  </div>
  <div class='col-md-3 row-eq-height' data-sticky-wrap style="position: relative;">
    <form class="aside-form" bh-sticky="55" style="position:relative; top:0px">
      <h3  class="search-title">Refine Search</h3>
      <div class="form-group">
        <label for="min_date">Posts published after:</label>
        <input type="date" ng-min="minDate" ng-max="maxDate" class="form-control" id="min_date" ng-model="min_date" name="anim" class="my-input" aria-describedby="Enter min date" placeholder="Enter min date" />
      </div>
      <div class="form-group">
        <label for="max_date">Posts published before:</label>
        <input type="date" ng-min="minDate" ng-max="maxDate" class="form-control" id="max_date" ng-model="max_date" name="anim" class="my-input" aria-describedby="Enter max date" placeholder="Enter max date" />
      </div>

      <label ng-repeat="category in categories | orderBy:'label'" " class="categories">
        <input type="checkbox" checklist-model="checkedcategories" checklist-value="category"> {{category.label}}</input>
      </label>
      <div class="clearfix"></div>
      <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
    </form>
  </div>
  