//body {
//  @include media-breakpoint-only(xs) {
//    padding-top: 50px;
//  }
//  @include media-breakpoint-up(xs) {
//    padding-top: 120px;
//  }
//}

.container {
}

.social-search-bar {
  bottom: 0;
}

#search {
  position: relative;
  
  label {
      position: absolute;
      left: 17px;
      top: 3px;
  }
  
  #search-input {
    padding-left: 43px;
    padding-right: 43px;
  }
  
  #search-clear {
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 3px;
    color: #b3b3b3;
  }
}

.excerpt {
  font-family: $excerpt-font-family;
}

.block-h-100-lg-up {
  @include media-breakpoint-up(lg) {
    //height: calc(100% - 75px);
    height: 810px;
  }
  
}

.block-h-100px-lg-up {
  @include media-breakpoint-up(lg) {
    //height: 100px;
  }
}

.gradient-vertical-primary {
  @include gradient-y($brand-primary, #fff);
}

.scroll-vertical-lg-up {
  @include media-breakpoint-up(lg) {
    overflow-y: scroll;
  }
}

.logo-footer > img {
  max-height: 80px;
}

.logo-header > img {
  @include media-breakpoint-only(xs) {
    max-height: 45px;
  }
  
  @include media-breakpoint-up(sm) {
    max-height: 90px;
  }
  
  @include media-breakpoint-up(md) {
    max-height: 110px;
  }
  
  @include media-breakpoint-up(lg) {
    max-height: 130px;
  }
}

.fa-2x {
  font-size: 1.5em;
}

article.post {
  
  .published_by, .published_at {
    font-weight: 100;
  }
  
  .published_by:after {
    content: "|";
    color: $brand-danger;
  };
  
  figure.image > img {
    max-width: 100%;
    height: auto;
  }
  
  figure figcaption {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.2;
    padding-top: 0.5rem;
    text-align: justify;
  }
  
  .article-body {
    line-height: 1.5;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1.2rem;
    }
    h1 {
      font-size: 2.3rem;
      font-weight: 800;
    }
    h2 {
      font-size: 2.0rem;
      font-weight: 800;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
    }
    h5 {
      font-size: 1.4rem;
      font-weight: 400;
    }
    h6 {
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}