//body {
//  @include media-breakpoint-only(xs) {
//    padding-top: 50px;
//  }
//  @include media-breakpoint-up(xs) {
//    padding-top: 120px;
//  }
//}

.container {
}

.social-search-bar {
  bottom: 0;
}

#search, #filters {
  position: relative;
  
  label {
      position: absolute;
      left: 17px;
      top: 3px;
  }
  
  #search-input {
    padding-left: 43px;
    padding-right: 43px;
  }
  
  #search-clear {
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 3px;
    color: #b3b3b3;
  }
}

.excerpt {
  font-family: $excerpt-font-family;
}

// http://www.patternify.com/
.background-line-danger {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2NkIBIwEqmOYSAV/peW/k+MOwfSjcS4D6QGAMiaAj/OUQ+9AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: center;
}

.background-white {
  background: #fff;
}

.block-h-100-lg-up {
  @include media-breakpoint-up(lg) {
    //height: calc(100% - 75px);
    height: 810px;
  }
  
}

.block-h-100px-lg-up {
  @include media-breakpoint-up(lg) {
    //height: 100px;
  }
}

.gradient-vertical-primary {
  @include gradient-y($brand-primary, #fff);
}

.scroll-vertical-lg-up {
  @include media-breakpoint-up(lg) {
    overflow-y: scroll;
  }
}

.logo-footer > img {
  max-height: 80px;
}

.logo-header > img {
  @include media-breakpoint-only(xs) {
    max-height: 45px;
  }
  
  @include media-breakpoint-up(sm) {
    max-height: 90px;
  }
  
  @include media-breakpoint-up(md) {
    max-height: 110px;
  }
  
  @include media-breakpoint-up(lg) {
    max-height: 130px;
  }
}

.fa-2x {
  font-size: 1.5em;
}
