
article.post {
  
  .offcanvas {
    position: absolute;
    width: 40px;
    left: -35px;
  }
  
  .published_by, .published_at {
    font-weight: 100;
  }
  
  .published_by:after {
    content: "|";
    color: $brand-danger;
  };
  
  figure.image > img {
    max-width: 100%;
    height: auto;
  }
  
  figure figcaption {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.2;
    padding-top: 0.5rem;
    text-align: justify;
  }
  
  .article-body {
    line-height: 1.5;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1.2rem;
    }
    h1 {
      font-size: 2.3rem;
      font-weight: 800;
    }
    h2 {
      font-size: 2.0rem;
      font-weight: 800;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
    }
    h5 {
      font-size: 1.4rem;
      font-weight: 400;
    }
    h6 {
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      font-size: 1.2rem;
      font-weight: 300;
      font-family: $excerpt-font-family;
    }
  }
}


button.share {
  padding:0;
  border-radius: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-top: -1px;
}

button.s_facebook {
  @include button-variant(#fff, #3f6fa7, #3f6fa7);
}

button.s_twitter {
  @include button-variant(#fff, #00d7fb, #00d7fb);
}

button.s_weixin {
  @include button-variant(#fff, #00CF0D, #00CF0D);
}

button.s_linkedin {
  @include button-variant(#fff, #008CC9, #008CC9);
}
