
article.post {
  
  @include media-breakpoint-up(sm) {
    .offcanvas {
      position: absolute;
      width: 40px;
      left: -35px;
    }
  }
  
  @include media-breakpoint-down(xs) {
    .offcanvas {
      position: relative;
      width: 40px;
      display: flex;
    }
  }
  
  .published_by, .published_at {
    font-weight: 100;
  }
  
  .published_by:after {
    content: "|";
    color: $brand-danger;
  };
  
  .qrcode {
    
    table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      margin: auto;
    }

    td {
      border-left: solid 5px #000;
      padding: 0; 
      margin: 0; 
      width: 0px; 
      height: 5px; 
    }

    td.black { border-color: #000; }
    td.white { border-color: #fff; }
    
  }
  
  .post-fimage-caption {
      font-size: 90%;
      font-weight: 100;
      line-height: 1.2;
      padding-top: 0.3rem;
      text-align: justify;
      font-style: italic;
    }

  
  .post-body {
    font-size: 16px;
    line-height: 1.5;
    
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1.2rem;
    }
    h1 {
      font-size: 230%;
      font-weight: 800;
    }
    h2 {
      font-size: 200%;
      font-weight: 800;
    }
    h3 {
      font-size: 180%;
      font-weight: 500;
    }
    h4 {
      font-size: 160%;
      font-weight: 500;
    }
    h5 {
      font-size: 140%;
      font-weight: 400;
    }
    h6 {
      font-size: 110%;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      font-size: 100%;
      font-weight: 300;
      font-family: $excerpt-font-family;
    }
    
    figure.image > img {
      max-width: 100%;
      height: auto;
    }
  
    figure figcaption {
      font-size: 90%;
      font-weight: 100;
      line-height: 1.2;
      padding-top: 0.3rem;
      text-align: justify;
      font-style: italic;
    }
    
    b,
    strong {
      font-weight: 800;
    }
  }
}


button.share {
  padding:0;
  border-radius: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-top: -1px;
}

button.std_facebook {
  @include button-variant(#fff, #3f6fa7, #3f6fa7);
}

button.short_twitter {
  @include button-variant(#fff, #00d7fb, #00d7fb);
}

button.s_weixin {
  @include button-variant(#fff, #00CF0D, #00CF0D);
}

button.std_linkedin {
  @include button-variant(#fff, #008CC9, #008CC9);
}
