.row.mt-4
  .col-12.col-lg-8.mt-0
    %article.post{itemscope: true, itemtype: 'https://schema.org/Article'}
      %meta{itemprop: :url, content: @post.the_url}
      %meta{itemprop: :mainEntityOfPage, itemscope: true, itemtype: 'https://schema.org/WebPage', itemid: @post.the_url}
      %meta{itemprop: :headline, content: @post.the_title}
      %meta{itemprop: :dateModified, content: @post.object.updated_at}

      %div{itemprop: :publisher, itemscope: true, itemtype: 'https://schema.org/Organization'}
        %div{itemprop: :logo, itemscope: true, itemtype: 'https://schema.org/ImageObject'}
          %meta{itemprop: :url, content: current_site.the_logo}
          %meta{itemprop: :width, content: 100}
          %meta{itemprop: :height, content: 100}
        %meta{itemprop: :name, content: 'China Pictorial'}
  
      %header
      
        %h1= @post.the_title
        
      .post-body{itemprop: :articleBody}
        = raw @post.the_content
        
  .col-12.col-lg-1.hidden-print
  
  .col-12.col-lg-3.hidden-print
    = render partial: theme_view("posts/related_articles"), locals: {posts: current_site.the_posts('post').limit(5).to_a, title: t(:recent_posts)}
    
    
:javascript
  $(function() {
    $("figure.image > img[width]").parent().find('figcaption').each(function(){
      var width = $(this).parent().find('img[width]').attr('width');
      $(this).attr('style', 'width:' + width + 'px');
    });
    $('.post-body figure.image > img').addClass('img-fluid');
    $('.post-body img').addClass('img-fluid img-thumbnail');
    });