- posts.in_groups_of(5, false) do |group|
  .row
    .col-12.mb-3
      - post = group.shift
      = render partial: theme_view('categories/post_wide'), locals: {post: post}
  .row
    = render partial: theme_view('categories/post'), collection: group, as: :post, cache: Proc.new{|item| ['categories_post', I18n.locale, item]}