.row.mt-3
  .col-lg-8.col-md-12
    %h1.text-danger.pl-1= title
    = render partial: theme_view('categories/category'), locals: {posts: posts}
    .text-center
      = will_paginate posts, renderer: BootstrapPagination::Rails
  .col-lg-4.col-md-12
    = render partial: theme_view('categories/filters')