<div class='row'>
  <div class="clearfix"></div>
  
  <div class='col-md-8 col-md-offset-1'>
    <div class="posts-container">
      <p>{{pagination.total}} results, between {{pagination.min_date | date : format : timezone}} and {{pagination.max_date | date : format : timezone}}</p>
      <ul class="posts-group">
        <li class="posts-item" endless-scroll="post in posts">
          <bh-post template="img" slug="post.slug"></bh-post>
        </li>
      </ul>
      <p ng-show="loading" spinner-on="loading" us-spinner="{radius:20, width:8, length: 16}" style="position:relative;height:200px;"></p>
    </div>
  </div>
  <div class='col-md-2'>
    
  </div>
  