.home-block-contents
  = image_tag post.the_author.get_meta('avatar'), class: "rounded-circle pull-left columnist"
  
  .pl-105
    %h3.mb-2= link_to post.the_title, post.the_path
    %p.font-italic.text-dark-grey= post.get_field(:author).try(:translate) || post.the_author.fullname
  
    %p= post.the_excerpt

