.widget-container

  %h2.text-danger= title

  .row

    - posts.each do |post|

      .col-12.col-sm-6.col-md-6.col-lg-12 

        .mb-2= render partial: 'partials/featured', locals: {post: post, thumbcss: 'img-fluid img-thumbnail'}
  
        %h6.mb-4= link_to post.decorate.the_title, post.decorate.the_path