$images_root: 'themes/china_india_dialogue/assets/images/' ;
$red: #e60012;

.logo-partner {
  margin: 0 15px 0 15px;
}

body {
  padding: 10px 0 0 0;
}

.main-container {
}

.header-social {
  margin: 60px 0;
}


.cid-md-header {
  height: 150px;
  overflow: hidden;
  background: #000 image_url($images_root + 'backgrounds/header.png');
}

.cid-sm-header {
  background: #000 image_url($images_root + 'backgrounds/header-mini.png');
}

body.navbar-minified {
  .cid-md-header{
    display:none !important;
  }

  .navbar-brand {
    display:block;
  }
  
  .navbar-default {
    background-color: #000;
    
    button.toggle {
      
      .icon-bar {
        background-color: #fff;
      }
    }

    
    & > li {
      
      &.active > a {
      }
    
      & > a {
        height: 50px;
        padding-top: 15px;
        color: #fff;
      }
      
    }
  }
}



.navbar {
  
  font-family: dax, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  
  .nav-justified {
    
    button.toggle {
      
      padding: 9px 10px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      
      .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: $red;
        
        & + .icon-bar {
          margin-top: 4px;
        }
      }
      
      .dropdown-menu {
        left: -60%;
      
        & > .active > a {
          &, &:hover, &:focus {
            background-color: $red;
          }
        } 
      }
    }
    
    & > li {
      
      white-space: nowrap;
      
      & > a {
      padding-left: 0px;
      padding-right: 0px;
      
        &:hover {
          color: $red;
          background: inherit;
        }
      }
      
      &.active a {
        background: image_url($images_root + 'decorations/menu_active.png') center bottom no-repeat;
        color: $red;
        cursor: default;
      }
      
      
      
    }
  }

  .navbar-default {
    
    
    
  }
}

.navbar-brand {
  padding-top:0px;
  display:none;
}






.cid-footer  {
  color: #fff;
  font-family: dax, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  z-index: 3;
  position: relative;
}

.cid-footer1 {
  margin-top: 30px;
  padding: 20px 0 20px 0;
  min-height: 150px;
  overflow: hidden;
  background: #595757;
}

.cid-footer1 ul.nav {
  padding-top: 23px;
}

.cid-footer1 .nav > li > a {
  color: #fff;
  padding: 0;
}

.cid-footer1 .nav > li > a:hover{
  color: #595757;
}


.cid-footer2 {
  min-height: 30px;
  background: #000;
}

.cid-footer2 p {
  padding-top: 10px;
}

a {
  color: #000;
}

.cid-ad-grey {
  background: #dadbdb;
}

bh-home-category {
  min-height: 250px;
  
}

.home-block-loading {
  background: #efeded;
}

bh-home-category, .home-block {
  width:100%;
}

.home-block p {
  margin-bottom:2px;
}

.home-block h2 {
  line-height: 30px;
}

.home-block h3 {
  font-weight: bold;
}

.home-block .home-post-author, .home-block .home-post-published,
.flex-caption .home-post-author, .flex-caption .home-post-published {
  font-style: italic;
  color: #9fa0a0;
}

.home-block-column .home-post-author {
  font-style: normal;
  font-size: 15px;
}

.home-block-column .home-post-group {
  margin-left: 95px;
}

.home-block-column .home-block-contents {
  padding-right: 20px;
}

.home-block-one-road-one-belt .home-block-contents, .home-block-environment .home-block-contents {
  padding-bottom: 10px;
}

.home-block-one-road-one-belt .home-block-contents .img-featured, .home-block-environment .home-block-contents .img-featured {
  margin-top:20px;
}

.home-block-column .home-post-author:before {
  content: " ";
  display: inline-block;
  width: 29px;
  height: 16px;
  background: image_url($images_root + '/decorations/twitter.png');
}

.home-block-reverse .home-post-author, .home-block-reverse .home-post-published {
  color: #fff;
}
  

p.home-post-summary {
  margin-bottom: 10px;
}

.home-block-business .category-color {
  color: #e60012;
}

.home-block-industry .category-color {
  color: #009cbf;
}

.home-block-internet .category-color {
  color: #4ab134;
}

.home-block-society .category-color {
  color: #9c0183;
}

.home-block-column .category-color {
  color:#5cc2cf;
}

.home-block-culture .category-color {
  color:#a9cf52;
}

.home-block-travel-image .category-color {
  color:#9c0183;
}


.home-block-border, .home-block-reverse, .home-block-column {
  padding: 10px 20px 20px 20px;
}

.home-block-border {
  border: #fff solid 1px;
}

.home-block-column {
  padding-right: 0px;
  background-image: image_url($images_root + 'backgrounds/column.png');
}

.home-block-reverse {
  color: #fff;
}

.home-block-reverse .category-color {
  color: #000;
}

.home-block-reverse h2.category-color, .home-block-reverse h3 a {
  color: #fff;
}

.home-block-business {
  border-color: #f08300;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.home-block-policy {
  border: #f08300 solid 1px;
  background: #f08300;
  margin-top: 0;
  margin-bottom: 0;;
}



.home-block-one-road-one-belt {
  margin-top: 0;
  margin-bottom: 0;
  border: #5cc2cf solid 1px;
  background: #5cc2cf;
}

.home-block-environment {
  margin-top: 0;
  margin-bottom: 0;
  border: #68be83 solid 1px;
  background: #68be83;

}

.home-post-group, .posts-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.home-post-item, .posts-item {
  position: relative;
  display: block;
  padding: 10px 0px;
  margin-bottom: -1px;
}

li.posts-item {
  border-bottom: solid 1px #9fa0a0;
  margin-top: 10px;
}

.home-post-item:first-child, .posts-item:first-child {
  padding: 0px;
}
.home-post-item:last-child, .posts-item:last-child {
  margin-bottom: 0;
}

.posts-item h3 {
  margin:0px;
}

.columnist {
  max-width:100px;
}


.widget-container {
  background: #fcfcfc;
  
  padding: 0px;
  
  h2 {
    color: #e60012;
    padding: 15px 0 15px 0;
    border-top: solid 15px #e60012;
    border-bottom: solid 1px #c9caca;
  }
}


.highlighted { background: yellow }

#header_search_form {
  height: 150px;
  vertical-align: middle;
  display: table-cell;
  width:100%;
  text-align: center;
}

form.aside-form {
  label.categories{
    padding: 0 5px 0 5px;
  } 
  
   .search-title {
     margin-top: 97px;
     background: #e60012;
     padding: 5px 0 5px 10px;
     color: white;
     font-size: 1em;
   }
}

.send-email-background {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1031;
  background:rgba(0,0,0,0.5);
}

.send-email-container {
  position:fixed;
  z-index: 1032;
  top:50%;
  left:50%;
  width:400px; 
  height:400px; 
  margin-left:-200px; 
  margin-top:-200px;  
  border: solid 1px black;
  background: #fff;
  padding: 20px;
}
  
  .posts-container {
    
    width: 100%;
    
    .results 
    {
      background: #e60012;
      padding: 5px 0 5px 10px;
      color: white;
      font-size: 1em;
    }
    
    label { 
      
      
          &.sort {
      
          cursor: pointer;
          font-weight: normal;
      
          &.active {
            cursor: default;
            font-weight: bold;
          }
        }
      }
  }

.widget-posts {
  

  
  bh-post {
    
    h3 {
      margin: 0.9em 0 1.8em 0;
      font-size: 1.1em;
    }
  }
  
  bh-post:hover {
    
    .legend {
      display: block;
      z-index: 99999
    }
  }
  
  .legend {
    width: 220px;
    position: absolute;
    top: 15px;
    left: -185px;
    padding: 5px 10px 5px 0px;
    background-color: #f8f8f8;
    color: #eff0f1;
    border-right: solid 1px #e60012;
    border-bottom: solid 1px #e60012;
    display: none;
    
    &:after {
      content: '';
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent #e60012;
      position: absolute;
      right: -14px;
      top: 10px;
      z-index: 10
    }
    
    p, p a, p a:hover{
      color: #000;
      font-size: 0.9em;
    }
    
    
    
    
    
  }
}

@media (max-width: 767px) {
  
  .navbar-default {
    background-color: #000;
    
    button.toggle {
      
      .icon-bar {
        background-color: #fff !important;
      }
    }
  }
  
  
  .navbar .nav-justified button.toggle {
    position: fixed;
    right: 30px;
    top: 10px;
    
    border: solid 1px #fff;
    border-radius: 2px;
    
    .dropdown-menu{
      left: -300%;
    }
  }
}




@media (min-width: 992px) {
.section-separator {
  height: 50px;
}
body {
  padding: 210px 0 0 0;
}
 ul.social {
    position: fixed;
  }
}

@media (max-width: 991px) {
  .home-block {
    margin: 20px 0;
  }

  .navbar-brand {
    display:block;
  }
  body {
    margin: 60px 0;
  }
  
  .widget-posts {
    
    .legend {
      top: 15px;
      right: auto;
      left: 25px;
      padding: 5px 10px 5px 0px;
    
      &:before {
        content: '';
        border-width: 7px;
        border-style: solid;
        border-color: transparent transparent transparent #e60012;
        position: absolute;
        left: -14px;
        top: 10px;
        z-index: 10;
      }
      
      &:after {
        border: none ;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-separator {
    height: 50px;
  }
  body {
    padding: 60px 0 0 0;
  }

  .cid-sm-header {
    background-image: none;
  }

  .navbar-default {
    background-color: #000;
    
    button.toggle {
      
      .icon-bar {
        background-color: #fff !important;
      }
    }

    
    & > li {
      
      &.active > a {
      }
    
      & > a {
        height: 50px;
        padding-top: 15px;
        color: #fff;
      }
      
    }
  }

}





