@import "cid/variables";
@import "cid/mixins";

html {
  font-size: $base_size;
}

body {
  font-family: crimson, "Times New Roman", Times, serif;
  
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: text !important;
  -o-user-select: initial !important;
  user-select: initial !important;
  
}


h1, h2, h3 {
  font-family: dax, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  @include font-size(5);
}

h2 {
  @include font-size(4);
}

h3 {
  @include font-size(3);
}

p {
  @include font-size(2);
}


p.loading {
  position: relative;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

@media (min-width: 992px) {
  .row-eq-height, bh-home-category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.push-bottom {
  margin-top: auto;
}

.text-wechat {
  color: #00CF0D;
}
