
.header-social
  = link_to current_theme.the_field('social_facebook'), class: 'text-white text-no-decoration' do
    %i.fa.fa-fw.fa-facebook

  = link_to current_theme.the_field('social_twitter'), class: 'text-white text-no-decoration' do
    %i.fa.fa-fw.fa-twitter

  = link_to current_theme.the_field('social_linkedin'), class: 'text-white text-no-decoration' do
    %i.fa.fa-fw.fa-linkedin

  = link_to "#", class: 'text-white text-no-decoration', data: {toggle: "modal", target: "#wechatmodal"} do
    %i.fa.fa-fw.fa-wechat
    
    
    
    
    
