<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row cid-md-header visible-md-block visible-lg-block">
      <div class='col-md-4'>
        <center></center>
      </div>
      <div class='col-md-4'>
        <center><a ui-sref="home"><%= theme_image_tag 'logo.png', alt: current_site.the_title %></a></center>
      </div>
      <div class='col-md-4'>
          <!-- <div class="search-form">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
          </div> -->
            <form id="header_search_form" ng-controller="NavBarSearchCtrl as vm" ng-show="vm.isNotSearchPage()" class="form-inline">
              <div class="form-group">
                <!-- <label for="keywords">Recherche</label> -->
                <input class="form-control col-md-3" ng-model="vm.keywords" name="anim" class="my-input" aria-describedby="Enter Keywords" placeholder="Enter your search keywords" />
              </div>
              <button type="submit" class="btn btn-default" ng-click="vm.search()">Search</button>
            </form>
      </div>
    </div>
  </div>

<div class="container">
    <div class="navbar-header cid-sm-header">
      <a class="navbar-brand" ui-sref="home"><%= theme_image_tag 'logo-mini.png', alt: current_site.the_title %></a>
      <div class="visible-sm-inline-block">
        COMPLEMENT de MENU
      </div>
      <button type="button" class="navbar-toggle collapsed dropdown" uib-dropdown>
        <a href uib-dropdown-toggle role="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </a>
        <ul class="uib-dropdown-menu">
          <li><a href>This month features</a></li>
          <li ng-repeat="category in categories  ">
            <a href="#/posts/{{category.slug}}">{{category.label}}</a>
          </li>
          <li><a href>About Us</a></li>
          <li><a href>Archives</a></li>
          <li><a href="/index-mobile.html">VERSION MOBILE</a></li>
        </ul>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= nav_menu(menu_slug:'main_menu') %>
      
      <!-- ##{args[:link][:link]} -->
      <!-- <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/posts/{{category.slug}}')}" ng-repeat="category in categories |  toArray | filter:{navbar: true}:true  ">
          <a href="#/posts/{{category.slug}}">{{category.label}}</a>
        </li>
        <li ng-controller="DropdownCtrl" class="dropdown" uib-dropdown>
          <a href uib-dropdown-toggle role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="caret"></span>
          </a>
          <ul class="uib-dropdown-menu">
            <li><a href>This month features</a></li>
            <li ng-repeat="category in categories |  toArray | filter:{additional_navbar: true}:false  ">
              <a href="#/posts/{{category.slug}}">{{category.label}}</a>
            </li>
            <li><a href>About Us</a></li>
            <li><a href>Archives</a></li>
            <li><a href="/index-mobile.html">VERSION MOBILE</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div> 
  
</nav>

        




