<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">China India Dialogue
          <div class="small">
            <i>
              Scan with
              <i class="fa fa-wechat text-wechat"></i> wechat to share
            </i>
          </div>
        </h4>
      </div>
      <div class="modal-body text-xs-center"></div>
    </div>
  </div>
</div>


