/*http://ufonts.com/search/dax/*/


@font-face {
  font-family: 'Glyphicons Halflings';

  src: cid-font-url('glyphicons-halflings-regular.eot');
  src: cid-font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), cid-font-url('glyphicons-halflings-regular.woff2') format('woff2'), cid-font-url('glyphicons-halflings-regular.woff') format('woff'), cid-font-url('glyphicons-halflings-regular.ttf') format('truetype'), cid-font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


@font-face {
    font-family: 'dax';
    src: cid-font-url('dax-webfont.eot');
    src: cid-font-url('dax-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('dax-webfont.woff2') format('woff2'),
      cid-font-url('dax-webfont.woff') format('woff'),
      cid-font-url('dax-webfont.ttf') format('truetype'),
      cid-font-url('dax-webfont.svg#daxregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dax';
    src: cid-font-url('dax-bold-webfont.eot');
    src: cid-font-url('dax-bold-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('dax-bold-webfont.woff2') format('woff2'),
      cid-font-url('dax-bold-webfont.woff') format('woff'),
      cid-font-url('dax-bold-webfont.ttf') format('truetype'),
      cid-font-url('dax-bold-webfont.svg#daxbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'dax';
    src: cid-font-url('dax-italic-webfont.eot');
    src: cid-font-url('dax-italic-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('dax-italic-webfont.woff2') format('woff2'),
      cid-font-url('dax-italic-webfont.woff') format('woff'),
      cid-font-url('dax-italic-webfont.ttf') format('truetype'),
      cid-font-url('dax-italic-webfont.svg#dax-italicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'crimson';
    src: cid-font-url('crimson-roman-webfont.eot');
    src: cid-font-url('crimson-roman-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('crimson-roman-webfont.woff2') format('woff2'),
      cid-font-url('crimson-roman-webfont.woff') format('woff'),
      cid-font-url('crimson-roman-webfont.ttf') format('truetype'),
      cid-font-url('crimson-roman-webfont.svg#crimsonroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: cid-font-url('crimson-bold-webfont.eot');
    src: cid-font-url('crimson-bold-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('crimson-bold-webfont.woff2') format('woff2'),
      cid-font-url('crimson-bold-webfont.woff') format('woff'),
      cid-font-url('crimson-bold-webfont.ttf') format('truetype'),
      cid-font-url('crimson-bold-webfont.svg#crimsonbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: cid-font-url('crimson-italic-webfont.eot');
    src: cid-font-url('crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
      cid-font-url('crimson-italic-webfont.woff2') format('woff2'),
      cid-font-url('crimson-italic-webfont.woff') format('woff'),
      cid-font-url('crimson-italic-webfont.ttf') format('truetype'),
      cid-font-url('crimson-italic-webfont.svg#crimsonitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
  font-family: 'flexslider-icon';
  src: cid-font-url('flexslider-icon.eot');
  src: cid-font-url('flexslider-icon.eot?#iefix') format('embedded-opentype'), 
    cid-font-url('flexslider-icon.woff') format('woff'), 
    cid-font-url('flexslider-icon.ttf') format('truetype'), 
    cid-font-url('flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}