$fonts_root: 'themes/china_india_dialogue/assets/fonts/' ;
$images_root: 'themes/china_india_dialogue/assets/images/' ;

$base_size: 50%;

$red: #e60012;
$blue: #009cbf;
$light-blue: #5cc2cf;
$green: #68be83;
$light-green: #a9cf52;
$violet: #9c0183;
$orange: #f08300;
$dark-grey: #9fa0a0;
$grey: #c9caca;
$light-grey: #f8f8f8;
$highlight: yellow;

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: blue !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 12px !default;
$slick-opacity-default: 0.50 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;


